html.js body.html div#page-wrapper div#page div#content-wrapper div.container div#columns div.columns-inner div#content-column div.content-inner section#main-content div.content-margin div.content-style div#content div.region div#block-system-main.block div.block-inner div.block-content form#commerce-checkout-form-checkout div fieldset#edit-customer-profile-billing.customer_profile_billing div.fieldset-wrapper div.form-item label.option{
    border-radius: 0 15px 0 15px;
    border: 1px solid #C4C4C4;
    background: url("images/button.png") repeat-x scroll left top transparent;
    cursor: pointer;
    margin: 0 5px 0 0;
    padding: 7px 11px;
   
}

html.js body.html div#page-wrapper div#page div#content-wrapper div.container div#columns div.columns-inner div#content-column div.content-inner section#main-content div.content-margin div.content-style div#content div.region div#block-system-main.block div.block-inner div.block-content form#commerce-checkout-form-checkout div fieldset#edit-customer-profile-billing.customer_profile_billing div.fieldset-wrapper div.form-item input#edit-customer-profile-billing-commerce_shipping_as_billing.form-checkbox{

    display:none;
}